@import url('https://fonts.googleapis.com/css2?family=Dancing+Script:wght@400..700&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Pacifico&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@100..900&display=swap');

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-size: inherit;
}

body, html {
    font-family: 'Poppins', sans-serif;
}

.main {
    height: 100vh;
    width: 100vw;
    background: linear-gradient(to bottom left, #0000ff 0%, #cc0099 100%);
    display: flex;
    align-items: center;
    justify-content: center;
}

.login_menu {
    height: 500px;
    width: 400px;
    background: rgba(255, 255, 255, 0.25);
    box-shadow: 0 8px 32px rgba(31, 38, 135, 0.37);
    backdrop-filter: blur(10px);
    border-radius: 20px;
    border: 1px solid rgba(255, 255, 255, 0.18);
    padding: 20px;
}

.heading {
    font-family: "Dancing Script", cursive;
    font-weight: 700;
    color: white;
    font-size: 75px;
    text-align: center;
    margin-bottom: 20px;
}

.heading_2 {
    font-family: "Dancing Script", cursive;
    font-weight: 500;
    color: white;
    font-size: 35px;
    text-align: center;
    margin-bottom: 30px;
}

#king-name, #queens-name {
    width: 90%;
    margin: 15px auto;
    padding: 10px;
    border: none;
    border-radius: 20px;
    font-family: "Dancing Script", cursive;
    font-size: 20px;
}

#calculate-btn, #retry-btn {
    width: 90%;
    margin: 20px auto;
    padding: 15px;
    font-size: 20px;
    font-family: "Dancing Script", cursive;
    color: white;
    font-weight: 700;
    border: 2px solid white;
    border-radius: 20px;
    background: linear-gradient(to right, #ff0066 0%, #ff3399 100%);
    cursor: pointer;
    transition: all 0.3s ease;
}

#calculate-btn:active, #retry-btn:active {
    background: linear-gradient(to right, #ff0066 0%, #ff3399 50%);
    transform: scale(1.05);
}

#heart {
    width: 250px;
    animation: scaleAnimation 2s infinite alternate ease-in-out;
    margin: 50px auto;
    display: block;
}

.rendered_king_name, .rendered_queen_name, .rendered_para, .rendered_result {
    text-align: center;
    font-family: "Dancing Script", cursive;
    color: white;
    margin: 10px auto;
}

.rendered_king_name, .rendered_queen_name, .rendered_result {
    font-size: 60px;
}

.rendered_para {
    font-size: 30px;
}

.copyright {
    color: white;
    font-weight: 200;
    font-size: 12px;
    text-align: center;
}

@keyframes scaleAnimation {
    0%, 100% {
        transform: scale(0.5);
    }
    50% {
        transform: scale(1);
    }
}

@media only screen and (max-width: 440px) {
    .login_menu {
        width: 350px;
    }

    #heart {
        margin: 30px auto;
    }
}

@media only screen and (max-width: 401px) {
    .heading {
        font-size: 60px;
    }

    .heading_2 {
        font-size: 25px;
    }

    .login_menu {
        width: 300px;
        height: 450px;
    }

    #king-name, #queens-name, #calculate-btn, #retry-btn {
        width: 80%;
    }

    #heart {
        width: 180px;
    }

    .rendered_king_name, .rendered_queen_name, .rendered_result {
        font-size: 50px;
    }

    .rendered_para {
        font-size: 25px;
    }
}
